body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

#folderList .collection-item:hover
{
    background: #3374C2;
    cursor: pointer;
}

.deleteFolder:hover
{
    cursor: pointer;
}
