<!DOCTYPE html>
<html>
<head>
	<%- include('../partials/header') %>
</head>

<body>
    <div class="container">
				Will be here soon!
    </div><!-- /.container -->
    <footer>
		<%- include('../partials/footer') %>
    </footer>
</body>
</html>
